@import "fonts.css";
@import "controls.css";
@import "titlebar.css";
@import "home.css";
@import "login.css";
@import "scrollbar.css";

:root {
	--accent: rgb(255, 180, 0);
	--accent-lighter: rgba(255, 220, 60);
	--accent-darker: rgba(215, 140, 0);

	--background: #1F1F1F;
	--background-lighter: #2B2B2B;
	--background-lighter-alt: #232323;
	--background-lightest: #363636;
	--backgrond-darker: #191919;

	--foreground: #ffffff;
	--foreground-alt: #d5d5d5;
	--foreground-inactive: #a7a7a7;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: transparent;
	color: white;
	user-select: none;
	margin: 0;
}

#window-background {
	width: 100%;
	height: 100%;
	background-color: var(--background);
	border-radius: 35px;
	overflow: hidden;
}

body, button, input {
	font-family: Inter-Regular;
}

img, button, a:link {
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}

.invisible {
	display: none !important;
}

/*.account-button {
	position: fixed;
	height: 30px;
	top: 15px;
	right: 15px;
	background: rgba(255, 150, 0);
	border-radius: 5px;
	color: black;
	padding: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 8px;
	box-shadow: 0 0 10px rgba(255, 150, 0);
}*/

.account-button img {
	position: relative;
	top: 0px;
	width: 24px;
	height: 24px;
	image-rendering: pixelated;
}

.account img {
	position: relative;
	top: 2px;
	width: 24px;
	height: 24px;
	image-rendering: pixelated;
}

.account-button span {
	position: relative;
	top: -7px;
	left: 3px;
}

.account span {
	position: relative;
	top: -5px;
	left: 3px;
}

.account-button .arrow-icon {
	position: relative;
	top: 1px;
	width: 12px;
	height: 9px;
}

.accounts {
	position: fixed;
	top: 55px;
	right: 15px;
	background: rgba(60, 60, 60);
	border-radius: 5px;
	color: white;
	border: none;
	z-index: 1;
}

.account {
	position: relative;
	background: inherit;
	color: white;
	transition: background 0.2s;
	border: none;
	padding: 5px;
	padding-right: 33px;
	font-size: 0.8rem;
	cursor: pointer;
}

.account .remove-account {
	position: absolute;
	top: 9px;
	right: 3px;
	opacity: 0;
	transition: opacity 0.2s, background 0.2s;
	padding: 0;
	background: none;
	border: none;
	width: 22px;
	height: 22px;
	border-radius: 100%;
	cursor: pointer;
}

.account:hover .remove-account {
	opacity: 1;
}

.remove-account:hover {
	background: rgba(255, 255, 255, 0.3);
}

.remove-account:active {
	background: rgba(255, 255, 255, 0.1);
}

.account:hover {
	background: rgb(75, 75, 75);
}

.accounts div:first-of-type {
	border-radius: 5px 5px 0px 0px;
}

.accounts div:last-of-type {
	border-radius: 0px 0px 5px 5px;
}

.play-button {
	position: fixed;
	left: calc(50% - 250px);
	bottom: 50px;
}

.play-button, .login-button {
	background-color: var(--accent);
	color: var(--background);
	border-radius: 100px;
	width: 500px;
	height: 100px;
	font-family: Inter-Bold;
	font-size: 3em;
}

.play-button:hover, .login-button:hover {
	background: var(--accent-lighter);
	box-shadow: 0 0 20px var(--accent);
}

.play-button:active, .login-button:active {
	background: var(--accent-darker);
}

.play-button:disabled, .login-button:disabled {
	background: rgb(80, 80, 80);
}

.discord-widget {
	position: fixed;
	top: 150px;
	left: calc(50% - 175px);
}

.memory-box {
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}

.memory-box p {
	text-align: center;
}

.memory-box input {
	width: 100%;
}

.server {
	cursor: pointer;
}

.server:not(:last-child) {
	margin-right: 10px;
}

#text1476 {
	font-family: Raleway;
}

#launch-note {
	position: fixed;
	width: 100%;
	text-align: center;
	bottom: 4px;
}

.current-skin, .new-skin-preview-box {
	display: inline-block;
	width: 300px;
	height: 250px;
	border-right: solid 1px rgb(80, 80, 80);
	/* never thought of this trick */
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.current-skin h2:first-of-type, .new-skin-preview-box h2:first-of-type {
	position: absolute;
	top: -20px;
	left: 0px;
	width: 100%;
	text-align: center;
}

.current-skin-box, .new-skin-box {
	position: relative;
	top: 32px;
	left: 50%;
	transform: translateX(-50%);
}

.skin-library, .new-skin-properties {
	position: absolute;
	top: 0px;
	left: 310px;
	width: calc(100% - 310px);
	overflow: auto;
    height: 100%;
}

.skin-library h2:first-of-type, .new-skin-properties h2:first-of-type {
	position: absolute;
	top: 6px;
	width: 100%;
	text-align: center;
}

.skin-library-box, .new-skin-properties-box {
	position: absolute;
	top: 75px;
	left: 5px;
	width: calc(100% - 5px);
}

.skin {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
	width: 150px;
	height: 200px;
	text-align: center;
	transition: background 0.2s;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
}

.skin-name {
	position: absolute;
	top: 15px;
	width: 100%;
}

.skin img {
	position: absolute;
	left: 75px;
	top: 110px;
	transform: translateX(-50%) translateY(-50%);
}

.skin:hover {
	background: rgb(40, 40, 40);
}

.skin:active:not(.no-press) {
	background: rgb(30, 30, 30);
}

.skin .apply-button {
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: opacity 0.2s, background 0.2s;
}

.skin:hover .apply-button {
	opacity: 1;
}

.back-to-skins-home {
	position: absolute;
	bottom: 15px;
	right: 184px;
}

.save-skin {
	position: absolute;
	bottom: 15px;
	right: 126px;
}

.save-and-apply-skin {
	position: absolute;
	bottom: 15px;
	right: 18px;
}

.new-skin-properties-box .label {
	font-size: 1em;
}

.new-skin-properties-box .input {
	padding: 5px;
}

.spaced-bottom-5 {
	margin-bottom: 5px;
}

.new-skin-browse {
	margin-right: 5px;
}

.new-skin-username {
	margin-left: 5px;
	margin-right: 5px;
	width: 100px;
}

.skins .input {
	background: rgb(30, 30, 30);
}

.new-skin-properties-box {
	top: 50px;
}

.news time, .news h1, .news h2, .news p {
	margin-left: 15px;
}

.news h1 {
	font-size: 1.8em;
	margin-top: 2px;
}

.news time {
	color: rgb(160, 160, 160);
}

.drag-region {
	-webkit-app-region: drag;
}

#sol-client-text {
	font-family: Raleway;
}
