::-webkit-scrollbar {
    width: 5px;
    transition: width 0.2s;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 10px;
    transition: background 0.2s; /* FIXME: Super cool transition not working */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent-lighter);
}
